@{
    ViewData["Title"] = "Home Page";
}



<!-- / Navbar -->
<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
   
    <div class="content-backdrop fade"></div>
</div>
<!-- Content wrapper -->
